---
#Add "layout: compress" here to compress the html code
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
{% include head.html %}

<body>
  <nav class="site-nav d-print-none">
    <a href="{{ site.baseurl }}/" {% if page.url == "/" %}class="active"{% endif %}>Home</a>
    <a id="cv-pdf-link" href="https://cdn.jsdelivr.net/gh/hayeon2ya/resume-template-anubhav@main/main.pdf?v={{ site.time | date: '%s' }}">CV</a>
    <a href="{{ site.baseurl }}/publications/" {% if page.url == "/publications/" %}class="active"{% endif %}>Publications</a>
  </nav>

  <div class="wrapper">
    {% include sidebar.html %}

    <div class="main-wrapper">
      {{ content }}
    </div>
  </div>

  {% include footer.html %}

  {% include scripts.html %}
  <script>
    document.getElementById('cv-pdf-link').addEventListener('click', function (event) {
      event.currentTarget.href = 'https://cdn.jsdelivr.net/gh/hayeon2ya/resume-template-anubhav@main/main.pdf?v=' + Date.now();
    });
  </script>
</body>

</html>
